{% assign title = site.data.info.name %}
{% assign twitter = "@" | append: site.data.info.twitter %}
{% assign website = "https://" | append: site.data.info.website %}
{% assign description = "Free as in Freedom" %}
{% assign image = "https://sobrinojulian.github.io/sobrinojulian.png" %}

<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://unpkg.com/tachyons/css/tachyons.min.css">

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="{{ twitter }}" />
	<meta name="twitter:creator" content="{{ twitter }}" />
	<meta property="og:url" content="{{ website }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}" />
	<meta property="og:image" content="{{ image }}" />
</head>
